<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>chart</title>
</head>
<body>
    <div class="flex-70" id ="chart-container" style="overflow:scroll">
        <div id="container">

        </div>
    </div>
</body>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        
        const data = "{{ data }}"
        console.log(data)
    // const chart = Highcharts.chart('container', {
    //             chart: {
    //                 animation: false,
    //                 type: 'column'
    //             },
    //             title: {
    //                 text: '울릉도 부이 데이터 차트'
    //             },
    //             xAxis: {
    //                 categories: ['2014-01-01-00:00', '2014-01-01-00:30', '2014-01-01-01:00', '2014-01-01-01:30', '2014-01-01-02:00', '2014-01-01-02:30', '2014-01-01-03:00']
    //             },
    //             yAxis: {
    //                 title: {
    //                     text: '파고(m)'
    //                 }
    //             },
    //             series: [{
    //                 name: '최대',
    //                 data: [1, 0, 4, 3, 5, 7, 8]
    //             }, {
    //                 name: '유이',
    //                 data: [5, 7, 3, 2, 1, 2, 4]
    //             }, {
    //                 name: '평균',
    //                 data: [5, 7, 3, 2, 1, 2, 3]
    //             }]
    //         });
    })
</script>
</html>