<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>동해 너울성 파도 예측 시스템</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js">
    </script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>
    <script src="https://unpkg.com/flowbite@1.5.1/dist/datepicker.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="../static/css/main.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/litepicker/2.0.11/litepicker.js"></script>
</head>

<body>
    <div class="flex-30">
        <div id="header">
            <h1 class="nanumbarungothic">동해 너울성 파도 예측 시스템</h1>
        </div>
        <div id="controller">
            <div class="controller-item" id="select">
                <p>select bouy</p>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="1" id="flexCheckDefault" checked>
                    <label class="form-check-label " for="flexCheckDefault">
                        울릉도(21229)
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="2" id="flexCheckDefault" checked>
                    <label class="form-check-label" for="flexCheckDefault">
                        동해(22105)
                    </label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="3" id="flexCheckDefault" checked>
                    <label class="form-check-label" for="flexCheckDefault">
                        포항(22106)
                    </label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="4" id="flexCheckDefault" checked>
                    <label class="form-check-label" for="flexCheckDefault">
                        울산(22189)
                    </label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="5" id="flexCheckDefault" checked>
                    <label class="form-check-label" for="flexCheckDefault">
                        울진(22190)
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="6" id="flexCheckDefault" checked>
                    <label class="form-check-label" for="flexCheckDefault">
                        동해78(22302)
                    </label>
                </div>
            </div>
            <div class="controller-item" id="date">
                <p>select period</p>
                <input id="dateFirst" placeholder="시작일" style="display : none">
                <input id="dateStart" placeholder="시작일"><input id="dateEnd" placeholder="종료일">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="live" id="liveCheck"
                        onclick="change_date_input()">
                    <label class="form-check-label" for="liveCheck">
                        실시간 모드
                    </label>
                </div>
            </div>

        </div>
        <!-- <button type="button" class="btn btn-primary" style="margin-left: 10vw;"
            onclick="get_selected_bouy()">실행</button> -->
            <button type="button" class="btn btn-primary" style="margin-left: 10vw;"
            onclick="get_matplot()">실행</button>
    </div>
    <div class="flex-70" id="chart-container" style="overflow:scroll">
    </div>

    <script language="JavaScript">

        // 실시간 모드 ON 일경우
        $(function () {
            var dateStart = document.getElementById('dateFirst');
            const picker = new Litepicker({
                element: dateStart,
                format: 'YYYY.M.D'

            })
        })

        // 실시간 모드 OFF 일경우
        $(function () {
            var dateStart = document.getElementById('dateStart');
            var dateEnd = document.getElementById('dateEnd');
            var dateFirst = document.getElementById('dateFirst');
            var pickerRange = new Litepicker({
                element: dateStart,
                elementEnd: dateEnd,
                format: 'YYYY.M.D',
                singleMode: false,
                allowRepick: true,
            });
        });
        function change_date_input() {
            if (document.getElementById('liveCheck').checked) {
                document.getElementById('dateEnd').style.display = "none"
                document.getElementById('dateStart').style.display = "none"
                document.getElementById('dateFirst').style.display = "block"
            }
            else {
                document.getElementById('dateEnd').style.display = "block"
                document.getElementById('dateStart').style.display = "block"
                document.getElementById('dateFirst').style.display = "none"
            }
        }


        var selected_bouy = []
        var buoy_id = ""

        function get_selected_bouy() {
            init_container()
            //체크된 부이 체크박스 value를 가져온다
            var checkbox = document.getElementsByClassName('form-check-input')
            for (element in checkbox) {
                if (checkbox[element].checked) {
                    selected_bouy.push(checkbox[element].value)
                    buoy_id += checkbox[element].value
                }
            }
            append_container()
            get_data(buoy_id, dateStart.value, dateEnd.value)
        }
        function init_container() {
            selected_bouy = []
            buoy_id = ""
            var container = document.getElementById('chart-container')
            while (container.hasChildNodes()) {
                container.removeChild(container.childNodes[0])
            }
        }
        function append_container() {
            selected_bouy.forEach(element => {
                const new_container = document.createElement('div')
                new_container.id = `container-${element}`
                new_container.style = "width: 100%; height: 400px; margin: 0 auto; border : 1px black solid;"
                document.getElementById('chart-container').appendChild(new_container)
            });
        }

        function append_chart(result, start, end) {
            const buoy_template = { 1: "울릉도", 2: "동해", 3: "포항", 4: "울산", 5: "울진", 6: "동해78" }
            //받아온 data의 json중 data를 entry_data(전체 데이터 변수에 저장한다.)
            var entry_data = result.data
            //선택된체크박스의 부이마다 그래프를 위한 div를 생성하기위해 forEach문을 실행한다.
            selected_bouy.forEach(element => {

                const chart = Highcharts.chart(`container-${element}`, {
                    chart: {
                        animation: false,
                        type: 'spline',
                        events: {
                            // load: function () {
                            //     // set up the updating of the chart each second
                            //     var series = this.series[0];
                            //     setInterval(function () {
                            //         var x = this.series[0]+i, // current time
                            //             y = 1;
                            //         series.addPoint([x, y], true, true);
                            //         i++
                            //     }, 2000);
                            // }
                        }
                    },
                    title: {
                        text: `${buoy_template[element]}`
                    },
                    exporting: {
                        enabled: false
                    },
                    rangeSelector: {
                        buttons: [{
                            count: 1,
                            type: 'minute',
                            text: '1M'
                        }, {
                            count: 5,
                            type: 'minute',
                            text: '5M'
                        }, {
                            type: 'all',
                            text: 'All'
                        }],
                        inputEnabled: false,
                        selected: 0
                    },
                    xAxis: {
                        title: {
                            text: '일시'
                        },
                        labels: {
                            formatter() {
                                return `<span style="display: none">${this.value}</span>`
                            }
                        }
                    },
                    yAxis: {
                        title: {
                            text: '파고 (m)'
                        },
                    },
                    legend: {
                        layout: 'vertical',
                        align: 'right',
                        verticalAlign: 'middle'
                    },
                    accessibility: {
                        enabled: false
                    },
                    time: {
                        useUTC: false
                    },
                    exporting: {
                        enabled: false
                    },
                    series: [{
                        name: '파고',
                        data: (function () {
                            var data = [],
                                i = 0
                            entry_data[element].forEach(dot => {
                                // console.log(typeof(dot), entry_data['date'][i])
                                data.push([entry_data['date'][i++], dot])
                            });
                            return data
                        }())
                    }],
                    rangeSelector: {
                        buttons: [{
                            count: 1,
                            type: 'minute',
                            text: '1M'
                        }, {
                            count: 5,
                            type: 'minute',
                            text: '5M'
                        }, {
                            type: 'all',
                            text: 'All'
                        }],
                        inputEnabled: false,
                        selected: 0
                    },
                })
            })

        }
        function get_data(buoy_id, start, end) {
            $.ajax({
                url: `http://0.0.0.0:8002/buoy/?buoy_id=${buoy_id}&start=${start}&end=${end}`,
                type: "GET",
                success: function (result) {
                    if (result) {
                        append_chart(result, start, end)
                    }
                }
            })
        }
        function get_matplot(){
            $.ajax({
                // url: 'http://115.160.104.134/matplot',
                url: 'http:///0.0.0.0:8002/matplot',
                type: "GET",
                success: function (result) {
                    if (result) {
                        const new_container = document.createElement('iframe')
                        new_container.id = 'chart'
                        new_container.style = "width: 100%; height: 100%; margin: 0 auto; border : 1px black solid;"
                        // new_container.src = 'http://115.160.104.134/matplot_video'
                        new_container.src = 'http://0.0.0.0:8002/matplot_video'
                        document.getElementById('chart-container').appendChild(new_container)
                    }
                }
            })
        }
        function get_live_data() {
            $.ajax({
                url: `http://0.0.0.0:8002/live/?buoy_id=${buoy_id}`,
                type: "GET",
                success: function (result) {
                    if (result) {
                        return result
                    }

                }
            })
        }

    </script>

</body>

</html>